<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- arguments -->
  <arg name="model" default="$(find reasonable_outdoor_mobile_robot_description)/robots/reasonable_outdoor_mobile_robot.urdf.xacro"/>
  <arg name="gui" default="true"/>

  <!-- parameters -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>

  <!-- nodes -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find reasonable_outdoor_mobile_robot_description)/config/reasonable_outdoor_mobile_robot_description.rviz"/>
</launch>
